<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Панель управления</title>
    <link rel="stylesheet" href="{{url_for('static', filename='dashboard.css')}}">
</head>
<body>
    <div class="container" id="container">
        <nav>

            <div class="nav_item change_user">
                <a onclick="confirm()" ><img class="icon" src="static/icons/icon_template.svg"></a>
                <p class="nav_text">Сменить пользователя</p>
            </div>

            <div class="nav_item profile">
                <a href="/profile"><img class="icon" src="static/icons/icon_template.svg"></a>
                <p class="nav_text">Профиль</p>
            </div>
            <div class="nav_item posescheniya">
                <img class="icon" src="static/icons/icon_template.svg">
                <p class="nav_text">Посещения</p>
            </div>
            <div class="nav_item graphic">
                <a href="/schedule"><img class="icon" src="static/icons/icon_template.svg"></a>
                <p class="nav_text">График смен</p>
            </div>
        </nav>
        <p class="greet_title">Добро пожаловать, {{session['Data']['Name']}} {{session['Data']['Otchestvo']}}</p>
        <div class="smena_info">
            <p class="info_text"><b>Смена: </b>{{smena_id}}</p>
            <p class="info_text"><b>Дата: </b>{{smena_date}}</p>
        </div>
        <p class="text">Кассовая сумма <u>прошлой</u> смены:</p>
        <p class="startoviy_ostatok">{{Nachalniy_ostatok}} руб</p>
        <p class="subtitle">Введите сумму в кассе:</p>
        <p class="text">Кассовая сумма на <u>начало</u> смены:</p>
        <form>
            <input name="Nachalniy_ostatok" type="number" placeholder="Введите сумму">
            <input name="submit" type="submit" value="Сохранить">
        </form>
    </div>
    <div class="confirm hidden" id="confirm">
        <div class="confirm_form">
            <p class="confirm_warning">Предупреждение</p>
            <hr>
            <p class="confirm_title">Вы уверены, что хотите выйти?</p>
            <p class="confirm_text">(вы будете перенаправлены на страницу авторизации)</p>
            <div class="confirm_buttons">
                <a class="button b_yes" id="b_yes" href="/change_user" onclick="confirm_close()">Да</a>
                <a class="button b_no" id="b_no" onclick="confirm_close()">Нет</a>
            </div>
        </div>
    </div>
    <img class="paw paw1" src="static/paws2.png">
    <img class="paw paw2" src="static/paws1.png">
    <img class="cat" src="static/cat_bored.png">

    <script src="{{url_for('static', filename='js/dashboard.js')}}"></script>
</body>
</html>