<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
  <link rel="stylesheet" href="{{url_for('static', filename='profile.css')}}">
</head>
<body>
  <div class="container">
    <div class="title">Профиль</div>
    <div class="photo_block">
      <img class="user_avatar" src="static/{{session['Data']['avatar_url']}}">
    </div>
    <form>

      <div class="input_block">
        <p class="name">Фамилия</p>
        <input disabled value="{{session['Data']['Family']}}">
      </div>

      <div class="input_block">
        <p class="name">Имя</p>
        <input disabled value="{{session['Data']['Name']}}">
      </div>

      <div class="input_block">
        <p class="name">Отчество</p>
        <input disabled value="{{session['Data']['Otchestvo']}}">
      </div>

      <div class="input_block">
        <p class="name">Пол</p>
        <div class="gender_block">
          <div class="block">
            <input type="radio" value="" disabled>
            <p class="block_text">Мужской</p>
          </div>
          <div class="block">
            <input type="radio" value="" disabled>
            <p class="block_text">Женский</p>
          </div>

        </div>
      </div>

      <div class="input_block">
        <p class="name">Должность</p>
        <input disabled value="{{session['Data']['Doljnost']}}">
      </div>

      <div class="input_block">
        <p class="name">Рабочий тел.</p>
        <input disabled value="{{session['Data']['Work_phone']}}">
      </div>

      <div class="input_block">
        <p class="name">Мобильный тел.</p>
        <input disabled value="{{session['Data']['Phone']}}">
      </div>

      <div class="input_block">
        <p class="name">Почта</p>
        <input disabled value="{{session['Data']['Email']}}">
      </div>
    </form>

    <div class="master_info">
      <div class="master_info dop">
        <p class="doljnost">Руководитель</p>
        <p class="master_FIO">Владимиров Владимир Владимировоч</p>
      </div>
      <div class="useless_info">Главный управляющий</div>
    </div>

    <div class="buttons">
      <a onclick="edit_profile()"><button class="btn">Редактировать</button></a>
      <a href="/dashboard"><button class="btn">Назад</button></a>
    </div>

  </div>
</body>
</html>